@import "@/styles/config/mixins";

.terminal {
	width: 100%;
	height: 100%;
	border-radius: 48px 48px 0 0;
	background-color: var(--theme-bg-2);
	color: var(--theme-fg);
	padding: 0 24px;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;

	&--minimized {
		height: auto;
		margin-top: auto;
	}

	&--minimized &-body {
		height: 0;
		gap: 0;
	}

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 12px;

		&-os {
			position: relative;

			&-button {
				@include init-button;
				gap: 16px;
				border: 1px solid var(--theme-fg-2);
				border-radius: 4px;
				padding: 6px 12px;

				svg {
					width: 20px;
					height: 20px;
				}
			}

			&-dropdown {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				display: none;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				background-color: var(--theme-bg-2);
				border-radius: 4px;
				padding: 8px 0;
				box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
				z-index: 1;

				&-item {
					@include init-button;
					width: 100%;
					padding: 8px 12px;
					border-radius: 4px;
					justify-content: flex-start;
					text-align: left;
					color: var(--theme-fg);

					&:hover {
						background-color: var(--theme-bg);
					}

					&--active {
						background-color: var(--theme-bg);
					}
				}

				&--open {
					display: flex;
				}
			}
		}

		&-buttons {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 16px;
		}

		&-button {
			@include init-button;
			width: 24px;
			height: 24px;
			border-radius: 500px;

			svg {
				width: 16px;
				height: 16px;
				stroke: var(--theme-black);
			}

			&--close {
				background-color: var(--theme-red);
			}

			&--minimize {
				background-color: var(--theme-yellow);
			}
		}
	}

	&-body {
		width: 100%;
		flex: 0 1 auto;
		overflow-y: auto;
		padding: 0 16px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 16px;
	}

	&-history {
		&-item {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			gap: 8px;

			&-input {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 16px;

				svg {
					stroke: var(--theme-code-green);
				}
			}

			&-result {
				padding-left: 40px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 16px;

				&-copy {
					@include init-button;

					svg {
						width: 20px;
						height: 20px;
					}
				}

				&--error {
					color: var(--theme-red);
				}
			}
		}
	}

	&-form {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		&-group {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
			padding: 8px 0;

			svg {
				stroke: var(--theme-code-green);
			}
		}

		input {
			all: unset;
			box-sizing: border-box;
			width: 100%;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
		}
	}

	&-result {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 40px;

		&--pending {
			width: 24px;
			height: 24px;
			border-radius: 500px;
			background: var(--theme-fg-2);
			animation: blink 1s ease-in-out infinite;
		}

		&--error {
			color: var(--theme-red);
		}
	}
}

@keyframes blink {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1);
	}
}
