.home {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	gap: 36px;

	& > h1 {
		width: 100%;
		padding: 24px;
		text-align: center;
	}
}
